@using MSU.HR.Commons.Enums;
@{
    ViewData["Title"] = "List of Paid Leave";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    int no = 1;
}
@model MSU.HR.Models.Others.TimeOffSummaryModel

<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between">
                <div>
                    <h4>Summaries</h4>
                </div>
                <div class="ml-auto">
                </div>
            </div>
        </div>
        <div>
            <div class="card-block row">
                <div class="col-sm-12 col-lg-12 col-xl-12">
                    <div class="row">
                    </div>
                </div>
                <div class="col-sm-12 col-lg-12 col-xl-12">
                    <ul class="simple-wrapper nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link txt-primary active" id="requested-tab" data-bs-toggle="tab" href="#requested" role="tab" aria-controls="home" aria-selected="true">
                                REQUESTED
                                <label class="badge badge-light-primary">@(Model.Details.Where(i => i.Status == StatusTimeOffEnum.REQUESTED.ToString()).Count())</label>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txt-primary" id="approved-tabs" data-bs-toggle="tab" href="#approved" role="tab" aria-controls="profile" aria-selected="false">
                                APPROVED
                                <label class="badge badge-light-primary">@(Model.Details.Where(i => i.Status == StatusTimeOffEnum.APPROVED.ToString()).Count())</label>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txt-primary" id="rejected-tab" data-bs-toggle="tab" href="#rejected" role="tab" aria-controls="contact" aria-selected="false">
                                REJECTED
                                <label class="badge badge-light-primary">@(Model.Details.Where(i => i.Status == StatusTimeOffEnum.REJECTED.ToString()).Count())</label>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link txt-primary" id="finished-tab" data-bs-toggle="tab" href="#finished" role="tab" aria-controls="contact" aria-selected="false">
                                FINISHED
                                <label class="badge badge-light-primary">@(Model.Details.Where(i => i.Status == StatusTimeOffEnum.FINISHED.ToString()).Count())</label>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="requested" role="tabpanel" aria-labelledby="requested-tabs">
                            <div class="pt-3 mb-3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Taken</th>
                                            <th scope="col">Approver</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Details.Where(i => i.Status == StatusTimeOffEnum.REQUESTED.ToString()).Count() == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="3">
                                                    <i>
                                                        Data not found
                                                    </i>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var i in Model.Details.Where(i => i.Status == StatusTimeOffEnum.REQUESTED.ToString()).ToList())
                                            {
                                                <tr>
                                                    <td> @i.StartDate.Value.ToString("yyyy-MM-dd") / @i.EndDate.Value.ToString("yyyy-MM-dd")</td>
                                                    <td>@i.Taken</td>
                                                    <td>@i.Approver</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="approved" role="tabpanel" aria-labelledby="approved-tabs">
                            <div class="pt-3 mb-3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Taken</th>
                                            <th scope="col">Approve Date</th>
                                            <th scope="col">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Details.Where(i => i.Status == StatusTimeOffEnum.APPROVED.ToString()).Count() == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="4">
                                                    <i>
                                                        Data not found
                                                    </i>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var i in Model.Details.Where(i => i.Status == StatusTimeOffEnum.APPROVED.ToString()).ToList())
                                            {
                                                <tr>
                                                    <td> @i.StartDate.Value.ToString("yyyy-MM-dd") / @i.EndDate.Value.ToString("yyyy-MM-dd")</td>
                                                    <td>@i.Taken</td>
                                                    <td>@i.ApproveDate</td>
                                                    <td>@i.Remarks</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="rejected" role="tabpanel" aria-labelledby="rejected-tabs">
                            <div class="pt-3 mb-3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Taken</th>
                                            <th scope="col">Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Details.Where(i => i.Status == StatusTimeOffEnum.REJECTED.ToString()).Count() == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="3">
                                                    <i>
                                                        Data not found
                                                    </i>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var i in Model.Details.Where(i => i.Status == StatusTimeOffEnum.REJECTED.ToString()).ToList())
                                            {
                                                <tr>
                                                    <td> @i.StartDate.Value.ToString("yyyy-MM-dd") / @i.EndDate.Value.ToString("yyyy-MM-dd")</td>
                                                    <td>@i.Taken</td>
                                                    <td>@i.Remarks</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade show" id="finished" role="tabpanel" aria-labelledby="finished-tabs">
                            <div class="pt-3 mb-3">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">Date</th>
                                            <th scope="col">Taken</th>
                                            <th scope="col">Finish Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Details.Where(i => i.Status == StatusTimeOffEnum.FINISHED.ToString()).Count() == 0)
                                        {
                                            <tr>
                                                <td class="text-center" colspan="2">
                                                    <i>
                                                        Data not found
                                                    </i>
                                                </td>
                                            </tr>
                                        }
                                        else
                                        {
                                            @foreach (var i in Model.Details.Where(i => i.Status == StatusTimeOffEnum.FINISHED.ToString()).ToList())
                                            {
                                                <tr>
                                                    <td> @i.StartDate.Value.ToString("yyyy-MM-dd") / @i.EndDate.Value.ToString("yyyy-MM-dd")</td>
                                                    <td>@i.Taken</td>
                                                    <td>@i.LastUpdateDate</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
