@using MSU.HR.Models.Others;

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @* <meta name="description" content="Cuba admin is super flexible, powerful, clean &amp; modern responsive bootstrap 5 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Cuba admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap"> *@
    <link rel="icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.png")" type="image/x-icon">
    <title>HR Application</title>
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/font-awesome.css")">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/icofont.css")">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/themify.css")">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/flag-icon.css")">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/feather-icon.css")">
    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/slick.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/slick-theme.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/scrollbar.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/animate.css")">
    <!-- Plugins css Ends-->
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/vendors/bootstrap.css")">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/style.css")">
    <link id="color" rel="stylesheet" href="@Url.Content("~/assets/css/color-1.css")" media="screen" )">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/css/responsive.css")">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>

    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">

        @await Html.PartialAsync("_TemplateHeader")

        <!-- Page Body Start-->
        <div class="page-body-wrapper">
            @await Html.PartialAsync("_TemplateNavigation")
            <div class="page-body">
                <div class="container-fluid">
                    <div class="page-title">
                        <div class="row">
                            <div class="col-6">
                                @* <h4>@ViewBag.PageTitle</h4> *@
                            </div>
                            <div class="col-6">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="@Url.ActionLink("Index","Home")">
                                            <svg class="stroke-icon">
                                                <path d="M9.00771 0.500013L9.00772 0.500012L9.00818 0.500003C9.01487 0.499853 9.04121 0.499261 9.09973 0.539787L17.4284 7.34735L17.4283 7.34749L17.4389 7.35568C17.4468 7.36185 17.4845 7.40423 17.4967 7.50045C17.5022 7.54334 17.5003 7.58379 17.4939 7.61597C17.4874 7.64922 17.4785 7.66175 17.4799 7.65976L17.4798 7.66003C17.4737 7.66867 17.4495 7.69219 17.3929 7.69683C17.335 7.70157 17.2925 7.68172 17.274 7.66471L17.2632 7.65477L17.2518 7.64548L9.31503 1.16099L8.99868 0.902524L8.68233 1.16099L0.745525 7.64548L0.734221 7.65471L0.723475 7.66459C0.706153 7.68052 0.667477 7.69907 0.611153 7.69413C0.556187 7.6893 0.522676 7.66552 0.508269 7.64716C0.507765 7.64592 0.489798 7.6134 0.50752 7.52553C0.524894 7.43939 0.56562 7.36407 0.598067 7.32357L8.89008 0.545958C8.95425 0.505697 8.99325 0.500274 9.00771 0.500013ZM2.9133 7.97121L3.23034 7.71133V13.6364V14.1364H3.73034H6.58403H7.08403V13.6364V11.591C7.08403 10.4775 7.96478 9.59101 8.99868 9.59101C10.0326 9.59101 10.9133 10.4775 10.9133 11.591V13.6364V14.1364H11.4133H14.267H14.767V13.6364V7.71114L15.0841 7.97102V14.3179C15.084 14.4353 14.9966 14.5 14.9255 14.5H10.7548C10.6834 14.5 10.5963 14.4352 10.5963 14.3182V11.591C10.5963 10.69 9.91043 9.95457 8.99868 9.95457C8.08684 9.95457 7.40106 10.6901 7.40106 11.591V14.3182C7.40106 14.4351 7.31383 14.5 7.24255 14.5H3.07182C3.00027 14.5 2.9133 14.4352 2.9133 14.3184V7.97121Z" />
                                            </svg>
                                        </a>
                                    </li>
                                    @foreach (var item in (List<BreadcrumbItemModel>)ViewBag.BreadcrumbItems)
                                    {
                                        <li class="breadcrumb-item" @(item.IsActive ? "active" : string.Empty)> <a href="@item.Url"> @item.Title</a></li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Container-fluid starts-->
                <div class="container-fluid">
                    <div class="row m-0">
                        <div class="col-12 p-0">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!-- Container-fluid Ends-->
            </div>
            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12 footer-copyright text-center">
                            <p class="mb-0">Copyright 2023 ©  </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <!-- latest jquery-->
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <!-- Bootstrap js-->
    <script src="@Url.Content("~/assets/js/bootstrap/bootstrap.bundle.min.js")"></script>
    <!-- feather icon js-->
    <script src="@Url.Content("~/assets/js/icons/feather-icon/feather.min.js")"></script>
    <script src="@Url.Content("~/assets/js/icons/feather-icon/feather-icon.js")"></script>
    <!-- scrollbar js-->
    <script src="@Url.Content("~/assets/js/scrollbar/simplebar.js")"></script>
    <script src="@Url.Content("~/assets/js/scrollbar/custom.js")"></script>
    <!-- Sidebar jquery-->
    <script src="@Url.Content("~/assets/js/config.js")"></script>
    <!-- Plugins JS start-->
    <script src="@Url.Content("~/assets/js/sidebar-menu.js")"></script>
    @* <script src="~/assets/js/sidebar-pin.js"></script> *@
    <script src="@Url.Content("~/assets/js/slick/slick.min.js")"></script>
    <script src="@Url.Content("~/assets/js/slick/slick.js")"></script>
    <script src="@Url.Content("~/assets/js/header-slick.js")"></script>
    <script src="@Url.Content("~/assets/js/form-validation-custom.js")"></script>
    <script src="@Url.Content("~/assets/js/height-equal.js")"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="@Url.Content("~/assets/js/script.js")"></script>
    @* <script src="~/assets/js/theme-customizer/customizer.js"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
